<!DOCTYPE html>
<html>
  <head>
    <title><%= text %></title>
    <link rel='stylesheet' href='/stylesheets/twitter.css' />
  </head>
  <body>
  	<div class="box">
  		<img src="<%= image %>">
  		<div class="subox1">
  			<p class="autor"><%= author %></p>
  			<p class="username">@<%= username %></p>
  		</div>
		<p class="text"><%= text %></p>
		<p class="time"><%= time %></p>
    <span class="pfeilOuter">
      <span class="pfeilInner">
      </span>
    </span>
	</div>
  </body>
</html>